language: c
sudo: required
services:
  - docker

#ZBX_VERSION must be one of the tags for ubuntu here: https://hub.docker.com/r/zabbix/zabbix-agent/tags/
matrix:
  include:
  - name: Format
    before_install: true
    env: TRAVIS_JOB_TYPE=FORMAT
  - name: Zabbix 3.4
    env: ZBX_VERSION=3.4.12 ZBX_HEADERS_VERSION=3.2 TRAVIS_JOB_TYPE=TEST
  - name: Zabbix 3.2
    env: ZBX_VERSION=3.2.11 ZBX_HEADERS_VERSION=3.2 TRAVIS_JOB_TYPE=TEST
  - name: Zabbix 3.0
    env: ZBX_VERSION=3.0.19 ZBX_HEADERS_VERSION=3   TRAVIS_JOB_TYPE=TEST
  #- name: Zabbix 2.2
  #  env: ZBX_VERSION=2.2.19 ZBX_HEADERS_VERSION=2  


before_install:
  - ./autogen.sh
  - python -m pip install -q --user pytest
  - ./configure --enable-zabbix-${ZBX_HEADERS_VERSION} -q
  - make
  - pushd tests/docker && docker-compose up -d
  - popd
  - docker logs --since 1h docker_zabbix-agent-modbus_1
  - docker exec docker_zabbix-agent-modbus_1 sh -c "zabbix_get -s localhost -k agent.ping"
  - docker exec docker_zabbix-agent-modbus_1 sh -c "zabbix_get -s localhost -k modbus_read[172.16.238.2:5020,1,2,3,uint16,1,1]"
script:
  - ./run-tests.sh
after_failure:
  - docker logs --since 1h docker_zabbix-agent-modbus_1
